/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* RESET */
* {
  margin: 0px;
  padding: 0px;
  font-family: tahoma;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

.navbar {
  top: 0;
  position: sticky;
  background-color: white !important;
  z-index: 1;
}

.btn-sign-up {
  background-color: #5f2eea;
  font-size: 14px;
  font-weight: 600;
  width: 120px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.navbar-nav a {
  font-size: 16px !important;
  color: #414141 !important;
  font-weight: 600;
  margin: 0 16px;
}

.avatar {
  margin-left: 48px;
}

/* MOVIE DETAIL */
.movie-detail {
  margin-top: 40px;
  margin-bottom: 80px;
}

.movie-image {
  width: 30%;
}

.movie-image img {
  padding: 47px;
  border: 2px solid #dedede;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.movie-text {
  width: 70%;
}

.movie-text h1 {
  font-size: 32px;
  color: #14142b;
  font-weight: 800;
  margin-bottom: 8px;
}

.movie-text h2 {
  font-size: 16px;
  color: #4e4b66;
  margin-bottom: 32px;
}

.text-sub-content h3 {
  font-size: 14px;
  color: #8692a6;
}

.text-sub-content p {
  font-size: 16px;
  color: #121212;
}

.text-sub-content-detail {
  margin-right: 56px;
}

.movie-detail-line {
  width: 100%;
  height: 1px;
  background-color: #dedede;
  margin-top: 24px;
  margin-bottom: 16px;
}

.synopsis h3 {
  font-size: 20px;
  color: #000000;
  font-weight: 700;
}

.synopsis p {
  font-size: 16px;
  color: #4e4b66;
  line-height: 32px;
}

/* SHOWTIMES & TICKET */
.showtimes {
  background-color: #f5f6f8;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.showtimes h1 {
  font-size: 24px;
  font-weight: 800;
  color: #14142b;
  text-align: center;
  margin-bottom: 40px;
}

.filter {
  justify-content: center;
  margin-bottom: 72px;
}

.dropdown {
  margin-right: 24px;
}

.dropdown button {
  display: flex;
  align-items: center;
  background-color: #eff0f6;
  border: none;
  padding: 14px 24px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  color: #4e4b66;
  font-size: 16px;
  font-weight: 600;
}

.dropdown button:hover {
  background-color: #eff0f6;
  color: #4e4b66;
}

.dropdown button img {
  margin-right: 24px;
}

.dropdown button p {
  margin-right: 108px;
  margin-bottom: 0;
}

.showtimes-card {
  background-color: white;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin-right: 32px;
  margin-bottom: 32px;
  padding: 24px 32px;
  box-shadow: 0px 8px 16px rgba(186, 186, 186, 0.24);
}

.showtimes-card h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

.showtimes-card p {
  font-size: 12px;
  color: #6e7191;
  margin-bottom: 4px;
}

.showtimes-line {
  height: 1px;
  width: 100%;
  background-color: #dedede;
  margin-top: 24px;
  margin-bottom: 16px;
}

.time-list .d-flex button {
  font-size: 12px;
  font-weight: 600;
  color: #4e4b66;
  background-color: white;
  border: none;
  margin-right: 32px;
  margin-bottom: 16px;
}

.price {
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 32px;
}

.price h3 {
  color: #6b6b6b;
  font-size: 16px;
}

.price p {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
}

.btn-book {
  justify-content: center;
  align-items: center;
  background-color: #5f2eea;
  box-shadow: 0px 8px 24px rgba(95, 46, 234, 0.24);
  font-size: 14px;
  font-weight: 800;
}

.view-more {
  justify-content: center;
  align-items: center;
  margin-top: 14px;
}

.view-more a {
  text-decoration: none;
  color: #5f2eea;
  font-weight: 600;
  width: 20%;
  text-align: center;
}

.view-line {
  background-color: #dedede;
  height: 1px;
  width: 40%;
}

/* FOOTER */
footer {
  background-color: white;
}

.footer-content {
  width: 100%;
  height: 100%;
}

.logo {
  width: 30%;
  padding-top: 95px;
  padding-right: 89px;
}

.logo p {
  margin-top: 15px;
  color: #6e7191;
  font-size: 16px;
  line-height: 32px;
}

.explore {
  width: 20%;
  padding-top: 110px;
}

.explore h3 {
  font-size: 16px;
  color: #000000;
  font-weight: 800;
  margin-bottom: 30px;
}

.explore a {
  font-size: 14px;
  color: #4e4b66;
  text-decoration: none;
}

.explore-link {
  display: flex;
  flex-direction: column;
}

.explore-link a {
  margin-bottom: 15px;
}

.sponsor {
  width: 30%;
  padding-top: 110px;
}

.sponsor img {
  display: block;
  margin-bottom: 23px;
}

.sponsor h3 {
  font-size: 16px;
  color: #000000;
  font-weight: 800;
  margin-bottom: 30px;
}

.follow {
  width: 20%;
  padding-top: 110px;
}

.follow h3 {
  font-size: 16px;
  color: #000000;
  font-weight: 800;
  margin-bottom: 30px;
}

.follow a {
  color: #6e7191;
  font-size: 14px;
  text-decoration: none;
  margin-left: 16px;
}

.follow-list {
  margin-bottom: 24px;
}

.copyright {
  text-align: center;
  padding: 47px;
  font-size: 14px;
  color: #4e4b66;
}

/* .showing-list,
  .upcoming-month {
    overflow-x: auto;
    padding-bottom: 70px;
  } */

.follow-content-mobile {
  display: none;
}

@media (max-width: 575.98px) {
  .footer-content {
    flex-direction: column;
    padding-left: 24px;
  }
  .logo,
  .explore,
  .sponsor,
  .follow {
    width: 100%;
    padding-top: 48px;
    padding-right: 0;
  }
  .sponsor-logo {
    display: flex;
  }
  .sponsor-logo img {
    width: 30%;
    margin-right: 24px;
    margin-bottom: 0;
  }
  .explore-link {
    display: flex;
  }
  .explore-link a {
    margin-right: 61px;
    margin-bottom: 0;
  }
  .follow-content {
    display: none;
  }
  .follow-content-mobile {
    display: flex;
  }
  .follow-content-mobile a {
    margin-right: 32px;
    margin-left: 0;
  }
  .follow {
    margin-bottom: 17px;
  }
}
